{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Products{% endblock title %}</title>

{% block content %}
  {% for product in products %}
    <div class="col-12 {% if product.sub_products.exists %}col-lg-6{% else %}col-lg-3{% endif %} mt-3 mt-lg-5">
      <div class="card">
        {% if product.image %}
          <img src="{{ product.image.url }}" class="product-img p-3" alt="{{ product.name }}">
        {% else %}
          <img src="{% static 'images/pngwing.com.png' %}" class="product-img p-3" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          {% for category in product.categories.iterator %}
            <span class="text-success"> {{ category.name }} </span>
          {% endfor %}
          <span class="price-value"><p class="card-text">{{ product.price }} UAH</p></span>
          <p class="card-text">{{ product.description }}</p>
          <a href="#" class="btn btn-primary">Детальнее</a>

        {% if product.products.exists %}
            <p class="p-3">Including</p>
            {% for sub in product.products.iterator %}
                <div class="d-inline-flex flex-column rounded border p-2 m-1 sub-product">
                    <p class="product-name">{{ sub.name }}</p>
                    <figure class="text-center d-inline">
                        <img src="{{ sub.image.url }}"
                             class="product-img p-3"
                             alt="{{ product.name }}">
                    </figure>
                </div>
            {% endfor %}
        {% endif %}

        </div>
      </div>
    </div>
  {% endfor %}

  <div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'parts/form.html' with form=form %}
      <input type="submit" value="Save">
      {% for name, error in form.errors.items %}
        <p> {{ error }}</p>
      {% endfor %}
    </form>
  </div>
{% endblock content %}
