{% load static %}
<header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main' %}">
      <img class="logo" src="{% static 'images/pngwing.com.png' %}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'products' %}">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% if user.is_superuser %}{% url 'admin:index' %}{% else %}{% endif %}">
            {% if user.is_superuser %}Adminka{% else %}{% endif %}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            <li><a class="dropdown-item" href="{% url 'registration' %}">Registration</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'feedbacks' %}">Feedbacks</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">{% if user.is_authenticated %}Привет, {{ user.username }}!
          {% else %}Войдите, чтобы получить доступ к контенту.
          {% endif %}</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>